.context-row
  padding-top 1em
  padding-bottom 1em
  responsive-gutters()
  full-bleed()

.separator
  content: "—";
  padding: 0 .4em 0 .2em;
  display: inline-block;

article
  padding-top 34px
  background-color #FFF
  box-shadow 0 0 20px -1px #d1d1d1
  a
    @extend .force-wrap;
  header
    position: relative;
    h1
      margin: 0;
      a
        text-decoration: none;
        &:hover
          text-decoration: none;
    p
      font-size: .9em;
      color: lighten($text-color-light, 10);
      margin: 0;
      &.meta
        @extend .sans;
    margin-bottom: 1em;

    @media $query-screen-medium
      margin-bottom: 1.5em;
  h2
    margin: 0.8em 0;
  .entry-content & h2:first-child, header + h2
    margin-top: 0;
  h2:first-child, header + h2
    background: none;
  .feature
    padding-top: .5em;
    margin-bottom: 1em;
    padding-bottom: 1em;
    background: $img-border bottom left repeat-x;
    line-height: 1.3em;
  img, video
    @extend .basic-alignment
    padding .25em
    background-color #fff
    &.framed
      padding 10px
      border 1px solid #CCC
  video
    margin: 0 auto 1.5em;
    display: block; width: 100%;
  > footer
    margin-top: 2em;
    p.meta
      margin-bottom: .8em;
      font-size: .85em;
      clear: both;
      overflow: hidden;
    .byline + time:before, time +time:before, .comments:before, .byline ~ .categories:before
      @extend .separator;

  #flash
    margin-bottom 1.5em
  table.controls
    margin 0.3in auto
    caption
      text-align center
    th
      text-align right
    td
      padding-left 6px
  ul.footnotes
    margin 1.2em

  pre > code
    @extend .context-row
    background-color #F5F7F7
    overflow auto

  p.update
    @extend .context-row
    background-color #FFFFF5
    &:before
      content 'Update:'
      font-family $heading-font-family
      display block
      margin-bottom 0.3em

#content .blog-index
  article
    padding-bottom 1.5em
    margin-top 18px
  article:first-child
    margin-top 0
  article header
    background: none;
  article h1
    a
      color: inherit;
      &:hover
        color: $link-color-hover;
  a[rel=full-article]
    display: inline-block;
    margin-right: .5em;
  footer
    @extend .sans;
    margin-top: 1em;

#content div.pagination
  pie-clearfix()
  text-align: center
  font-size: .95em
  position: relative
  padding-top: 1.5em
  padding-bottom: 1.5em
  a
    text-decoration: none
    color: $text-color-light
    &.prev
      position: absolute
      left: 0
    &.next
      position: absolute
      right: 0
    &:hover
      color: $link-color-hover

#content section.profile
  .meta
    float left

    img
      margin-right 20px
      box-shadow 0 0 10px -1px #333
      width 150px

  .content
    display table

    p
      margin-bottom .5em
    .author
      font-style italic

  .coauthor
    margin-bottom 30px