body > header
  padding 0
  margin 20px 0
  h1
    float left
    margin-right 30px
    margin-left -5px
    a
      display block
      color $title-color

      background-image url('/images/goodeggs_logo_bites_small.png')
      // sink text to the bottom
      height 70px
      line-height 75px
      padding-left 105px
      // background-size auto 38%
      background-repeat no-repeat
      background-position 0 bottom
      vertical-align bottom

      color $subtitle-color !important
      text-decoration none !important

      &:hover
        color $sageGreen

  ul.nav
    float left
    margin 12px 0 0 0
    li
      float left
      margin 20px 0 0 30px
