body > header
  a
    display block
    color $title-color

    background-image url('/images/logo-floral.png')
    // sink text to the bottom
    height 70px
    line-height 70px
    padding-left 105px
    // background-size auto 38%
    background-repeat no-repeat
    background-position 0 bottom
    vertical-align bottom

    &, &:hover, &:visited
      color $subtitle-color !important
      text-decoration none !important