
/* line 15 : /Users/adam/Projects/bites/src/styles/rollup.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 286 : /Users/adam/Projects/bites/node_modules/gulp-stylus/node_modules/stylus/lib/functions/index.styl */

/* line 13 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/index.styl */

/* line 13 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/index.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/border.styl */

/* line 10 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/border.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/clearfix.styl */

/* line 28 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/clearfix.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/color-image.styl */

/* line 4 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/color-image.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/flex.styl */

/* line 196 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/flex.styl */

/* line 90 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/gradients.styl */

/* line 90 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/gradients.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/config.styl */

/* line 11 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/iconic.styl */

/* line 7 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/iconic.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/image.styl */

/* line 25 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/image.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/overflow.styl */

/* line 20 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/overflow.styl */

/* line 3 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/positions.styl */

/* line 66 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/positions.styl */

/* line 3 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */

/* line 78 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */

/* line 5 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/index.styl */

/* line 5 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/index.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/aliases.styl */

/* line 12 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/aliases.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 9 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/ellipsis.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 8 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/hide-text.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 9 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/replace-text.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 2 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/text/shadow-stroke.styl */

/* line 541 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/vendor.styl */

/* line 11 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/vendor.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/config.styl */

/* line 577 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/config.styl */

/* line 1 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/size.styl */

/* line 4 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 14 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */
body {
  line-height: 1;
  color: #000;
  background: #fff;
}

/* line 16 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */
ol,
ul {
  list-style: none;
}

/* line 18 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 20 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */
a img {
  border: none;
}

/* line 68 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
main {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  display: block;
}

/* line 73 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 77 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/reset.styl */
audio:not([controls]),
[hidden] {
  display: none;
}

/* line 28 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/size.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/base/media.styl */

/* line 3 : /Users/adam/Projects/bites/src/styles/base/media.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/base/fonts.styl */
@font-face {
  font-family: 'PublicoHeadline';
  src: url("/fonts/PublicoHeadline-Black-Web.eot");
  src: url("/fonts/PublicoHeadline-Black-Web.eot?#iefix") format('embedded-opentype'), url("/fonts/PublicoHeadline-Black-Web.woff") format('woff'), url("/fonts/PublicoHeadline-Black-Web.ttf") format('truetype'), url("/fonts/PublicoHeadline-Black-Web.svg#publico_headline_webblack") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'PublicoText';
  src: url("/fonts/PublicoText-Bold-Web.eot");
  src: url("/fonts/PublicoText-Bold-Web.eot?#iefix") format('embedded-opentype'), url("/fonts/PublicoText-Bold-Web.woff") format('woff'), url("/fonts/PublicoText-Bold-Web.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url("/fonts/Graphik-Regular-Web.eot");
  src: url("/fonts/Graphik-Regular-Web.eot?#iefix") format('embedded-opentype'), url("/fonts/Graphik-Regular-Web.woff") format('woff'), url("/fonts/Graphik-Regular-Web.ttf") format('truetype'), url("/fonts/Graphik-Regular-Web.svg#graphik_webregular") format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url("/fonts/Graphik-Bold-Web.eot");
  src: url("/fonts/Graphik-Bold-Web.eot?#iefix") format('embedded-opentype'), url("/fonts/Graphik-Bold-Web.woff") format('woff'), url("/fonts/Graphik-Bold-Web.ttf") format('truetype'), url("/fonts/Graphik-Bold-Web.svg#graphik_webbold") format('svg');
  font-weight: bold;
  font-style: normal;
}

/* line 42 : /Users/adam/Projects/bites/src/styles/base/fonts.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/base/utilities.styl */

/* line 27 : /Users/adam/Projects/bites/src/styles/base/utilities.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/base/theme.styl */

/* line 52 : /Users/adam/Projects/bites/src/styles/base/theme.styl */
a {
  color: #007084;
  text-decoration: none;
}

/* line 56 : /Users/adam/Projects/bites/src/styles/base/theme.styl */
a:hover,
a:active {
  text-decoration: underline;
}

/* line 59 : /Users/adam/Projects/bites/src/styles/base/theme.styl */
html,
body {
  background: #f2f0e8;
}

/* line 62 : /Users/adam/Projects/bites/src/styles/base/theme.styl */
body > footer {
  font-size: 80%;
  margin-top: 10px;
}

/* line 64 : /Users/adam/Projects/bites/src/styles/base/theme.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/base/typography.styl */

/* line 16 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
.heading,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: PublicoHeadline, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 19 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
.sans,
body,
article header p.meta,
#content .blog-index footer {
  font-family: Graphik, 'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
}

/* line 20 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
.serif {
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

/* line 21 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
.mono,
pre,
code,
tt {
  font-family: PragmataPro, Menlo, Monaco, "Andale Mono", "Lucida Console", "Courier New", monospace;
  font-size: 85%;
}

/* line 25 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
body > header h1 {
  font-size: 55px !important;
  font-family: PublicoText, "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: bold;
  line-height: 0.85em;
}

/* line 32 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
body {
  font-size: 1em;
  line-height: 1.5em;
  color: #333;
}

/* line 38 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
h1 {
  font-size: 1.8em;
  line-height: 1.2em;
}

/* line 42 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
h3 {
  line-height: 1.8;
}
@media only screen and (min-width: 768px) {

/* line 47 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
  h1 {
    font-size: 2.2em;
    line-height: 1.2em;
  }
}

/* line 50 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
h1,
h2,
h3,
h4,
h5,
h6 {
  text-rendering: optimizelegibility;
  font-weight: 600;
  color: #333;
}

/* line 55 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover {
  color: #333 !important;
}

/* line 57 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
h2,
section h1 {
  font-size: 1.5em;
}

/* line 60 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
h3,
section h2,
section section h1 {
  font-size: 1.3em;
}

/* line 63 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
h4,
section h3,
section section h2,
section section section h1 {
  font-size: 1em;
}

/* line 66 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
h5,
section h4,
section section h3 {
  font-size: 0.9em;
}

/* line 69 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
h6,
section h5,
section section h4,
section section section h3 {
  font-size: 0.8em;
}

/* line 72 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
p,
blockquote,
ul,
ol,
pre,
code {
  margin-bottom: 1.5em;
}

/* line 75 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
ul {
  list-style-type: circle;
}

/* line 76 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
ul ul {
  list-style-type: disc;
  margin-bottom: 0px;
}

/* line 77 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
ul ul ul {
  list-style-type: square;
  margin-bottom: 0px;
}

/* line 81 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
ol {
  list-style-type: decimal;
}

/* line 82 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
ol ol {
  list-style-type: lower-alpha;
  margin-bottom: 0px;
}

/* line 83 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
ol ol ol {
  list-style-type: lower-roman;
  margin-bottom: 0px;
}

/* line 87 : /Users/adam/Projects/bites/src/styles/base/typography.styl */

/* line 87 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
ul,
ol,
ul ul,
ol ul,
ul ol,
ol ol {
  margin-left: 1.3em;
}

/* line 89 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
ul.unstyled,
ol.unstyled {
  margin-left: 0;
  list-style-type: none;
}

/* line 94 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
strong {
  font-weight: bold;
}

/* line 96 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
em {
  font-style: italic;
}

/* line 98 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
mark {
  color: #626262;
  background-color: transparent;
  font-weight: normal;
  font-style: italic;
  font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
}

/* line 105 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
sup,
sub {
  font-size: 0.6em;
  display: inline;
  padding: 0 1px;
}

/* line 109 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
sup {
  vertical-align: super;
}

/* line 111 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
sub {
  bottom: -0.5em;
}

/* line 113 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
q {
  font-style: italic;
}

/* line 114 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
q:before {
  content: "\201C";
}

/* line 115 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
q:after {
  content: "\201D";
}

/* line 118 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
em,
dfn {
  font-style: italic;
}

/* line 120 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
strong,
dfn {
  font-weight: bold;
}

/* line 122 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
del,
s {
  text-decoration: line-through;
}

/* line 124 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
abbr,
acronym {
  border-bottom: 1px dotted;
  cursor: help;
}

/* line 126 : /Users/adam/Projects/bites/src/styles/base/typography.styl */

/* line 129 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
pre > code {
  line-height: 1.5;
}

/* line 132 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
hr {
  margin-bottom: 0.2em;
}

/* line 134 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
small {
  font-size: 0.8em;
}

/* line 136 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
big {
  font-size: 1.2em;
}

/* line 138 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
blockquote {
  font-style: italic;
  position: relative;
  font-size: 1.2em;
  font-weight: lighter;
  line-height: 1.5em;
  padding-left: 1em;
}

/* line 146 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
blockquote cite {
  display: block;
  font-style: italic;
  font-size: 80%;
  line-height: 1.2;
  padding-right: 30%;
  text-align: right;
}

/* line 153 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
blockquote cite a {
  color: #888 !important;
  word-wrap: break-word;
}
@media only screen and (min-width: 992px) {

/* line 158 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
  blockquote {
    padding-left: 1.5em;
    border-left-width: 4px;
  }
}

/* line 164 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
.pullquote-right:before,
.pullquote-left:before {
/* Reset metrics. */
  padding: 0;
  border: none;
/* Content */
  content: attr(data-pullquote);
/* Pull out to the right, modular scale based margins. */
  float: right;
  width: 45%;
  margin: 0.5em 0 1em 1.5em;
/* Baseline correction */
  position: relative;
  top: 7px;
  font-size: 1.4em;
  line-height: 1.45em;
}

/* line 185 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
.pullquote-left:before {
/* Make left pullquotes align properly. */
  float: left;
  margin: 0.5em 1.5em 1em 0;
}

/* line 192 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
.force-wrap,
article a {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 200 : /Users/adam/Projects/bites/src/styles/base/typography.styl */
h1.status-code {
  font-size: 12em;
}

/* line 1 : /Users/adam/Projects/bites/src/styles/base/typography.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/base/layout.styl */

/* line 26 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
.group,
body > header,
body > nav,
body > footer,
body #content > article,
body #content > div > article,
body #content > div > section,
body div.pagination {
  zoom: 1;
}

/* line 22 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/clearfix.styl */
.group:before,
body > header:before,
body > nav:before,
body > footer:before,
body #content > article:before,
body #content > div > article:before,
body #content > div > section:before,
body div.pagination:before,
.group:after,
body > header:after,
body > nav:after,
body > footer:after,
body #content > article:after,
body #content > div > article:after,
body #content > div > section:after,
body div.pagination:after {
  content: "";
  display: table;
}

/* line 26 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/clearfix.styl */
.group:after,
body > header:after,
body > nav:after,
body > footer:after,
body #content > article:after,
body #content > div > article:after,
body #content > div > section:after,
body div.pagination:after {
  clear: both;
}

/* line 29 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
body {
  -webkit-text-size-adjust: none;
  max-width: 676px;
  position: relative;
  margin: 0 auto;
}

/* line 35 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
body > header,
body > nav,
body > footer,
body #content > article,
body #content > div > article,
body #content > div > section {
  padding-left: 24px;
  padding-right: 24px;
}
@media only screen and (min-width: 768px) {

/* line 11 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  body > header,
  body > nav,
  body > footer,
  body #content > article,
  body #content > div > article,
  body #content > div > section {
    padding-left: 34px;
    padding-right: 34px;
  }
}

/* line 44 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
body div.pagination {
  padding-left: 24px;
  padding-right: 24px;
}
@media only screen and (min-width: 768px) {

/* line 11 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  body div.pagination {
    padding-left: 34px;
    padding-right: 34px;
  }
}

/* line 48 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
body > header {
  font-size: 1em;
  padding-top: 2em;
  padding-bottom: 0.75em;
}

/* line 53 : /Users/adam/Projects/bites/src/styles/base/layout.styl */

/* line 54 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
#content > div,
#content > article {
  width: 100%;
}

/* line 58 : /Users/adam/Projects/bites/src/styles/base/layout.styl */

/* line 59 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
.basic-alignment.left,
table.left,
article img.left,
article video.left {
  float: left;
  margin-right: 1.5em;
}

/* line 62 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
.basic-alignment.right,
table.right,
article img.right,
article video.right {
  float: right;
  margin-left: 1.5em;
}

/* line 65 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
.basic-alignment.center,
table.center,
article img.center,
article video.center {
  display: block;
  margin: 0 auto 1.5em;
}

/* line 68 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
.basic-alignment.left,
table.left,
article img.left,
article video.left,
.basic-alignment.right,
table.right,
article img.right,
article video.right {
  margin-bottom: 0.8em;
}

/* line 72 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
#content {
  border-right: none;
}

/* line 74 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
#content > div,
#content > article {
  padding-top: 12px;
  padding-bottom: 12px;
}
@media only screen and (min-width: 550px) {

/* line 79 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  body > header {
    font-size: 1em;
  }
}
@media only screen and (min-width: 768px) {

/* line 83 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  body {
    -webkit-text-size-adjust: auto;
  }

/* line 85 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  body > header {
    font-size: 1.3em;
  }

/* line 87 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  #main {
    zoom: 1;
    padding: 0;
    margin: 0 auto;
  }

/* line 22 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/clearfix.styl */
  #main:before,
  #main:after {
    content: "";
    display: table;
  }

/* line 26 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/clearfix.styl */
  #main:after {
    clear: both;
  }

/* line 91 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  #content {
    zoom: 1;
    position: relative;
  }

/* line 22 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/clearfix.styl */
  #content:before,
  #content:after {
    content: "";
    display: table;
  }

/* line 26 : /Users/adam/Projects/bites/node_modules/nib/lib/nib/clearfix.styl */
  #content:after {
    clear: both;
  }

/* line 94 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  #content .no-sidebar {
    margin-right: 0;
    border-right: 0;
  }

/* line 97 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  #content > div,
  #content > article {
    padding-top: 17px;
    padding-bottom: 17px;
    float: left;
  }

/* line 101 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  #content > div.intro {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media only screen and (min-width: 992px) {

/* line 105 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  body > header {
    font-size: 1.3em;
  }

/* line 107 : /Users/adam/Projects/bites/src/styles/base/layout.styl */

/* line 108 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  #content > div,
  #content > article {
    padding-top: 17px;
    padding-bottom: 17px;
  }
}

/* line 112 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
dl {
  margin-bottom: 1em;
}

/* line 114 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
dt {
  font-weight: bold;
}

/* line 116 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
dt,
dd,
li {
  padding-bottom: 0.25em;
}
@media only screen and (min-width: 550px) {

/* line 119 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  dt {
    float: none;
  }
}
@media only screen and (min-width: 750px) {

/* line 122 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  dt {
    clear: left;
    float: left;
    padding-right: 0.5em;
    width: 10em;
  }
}

/* line 128 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
table {
  padding: 0.25em 0.25em;
}

/* line 131 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
thead,
thead th {
  font-weight: bold;
  font-size: 1em;
}

/* line 134 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
thead {
  border-bottom: 2px solid #333;
}

/* line 11 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
@media only screen and (min-width: 768px) and (min-width: 768px) {

/* line 101 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  > div.intro {
    padding-left: 34px;
    padding-right: 34px;
  }
}

/* line 1 : /Users/adam/Projects/bites/src/styles/base/layout.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/header.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/header.styl */
body > header {
  padding: 0;
  margin: 20px 0;
}

/* line 4 : /Users/adam/Projects/bites/src/styles/header.styl */
body > header h1 {
  float: left;
  margin-right: 30px;
  margin-left: -5px;
}

/* line 8 : /Users/adam/Projects/bites/src/styles/header.styl */
body > header h1 a {
  display: block;
  color: #333;
  background-image: url("/images/goodeggs_logo_bites_small.png");
  height: 70px;
  line-height: 75px;
  padding-left: 95px;
  background-repeat: no-repeat;
  background-position: 0 bottom;
  vertical-align: bottom;
  color: #333 !important;
  text-decoration: none !important;
}

/* line 25 : /Users/adam/Projects/bites/src/styles/header.styl */
body > header h1 a:hover {
  color: #6ab5b1;
}

/* line 28 : /Users/adam/Projects/bites/src/styles/header.styl */
body > header ul.nav {
  float: left;
  margin: 12px 0 0 0;
}

/* line 31 : /Users/adam/Projects/bites/src/styles/header.styl */
body > header ul.nav li {
  float: left;
  margin: 20px 0 0 30px;
}

/* line 33 : /Users/adam/Projects/bites/src/styles/header.styl */

/* line 33 : /Users/adam/Projects/bites/src/styles/footer.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/footer.styl */

/* line 2 : /Users/adam/Projects/bites/src/styles/footer.styl */
body > footer .mission {
  font-style: italic;
  font-size: 1.2em;
}

/* line 4 : /Users/adam/Projects/bites/src/styles/footer.styl */

/* line 4 : /Users/adam/Projects/bites/src/styles/blog.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/blog.styl */
.context-row,
article pre > code,
article p.update {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-left: 24px;
  padding-right: 24px;
  margin-left: -24px;
  margin-right: -24px;
}
@media only screen and (min-width: 768px) {

/* line 11 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  .context-row,
  article pre > code,
  article p.update,
article pre > code,
article p.update {
    padding-left: 34px;
    padding-right: 34px;
  }
}
@media only screen and (min-width: 768px) {

/* line 18 : /Users/adam/Projects/bites/src/styles/base/layout.styl */
  .context-row,
  article pre > code,
  article p.update,
article pre > code,
article p.update {
    margin-left: -34px;
    margin-right: -34px;
  }
}

/* line 7 : /Users/adam/Projects/bites/src/styles/blog.styl */
.separator,
article > footer .byline + time:before,
article > footer time +time:before,
article > footer .comments:before,
article > footer .byline ~ .categories:before {
  content: "—";
  padding: 0 0.4em 0 0.2em;
  display: inline-block;
}

/* line 12 : /Users/adam/Projects/bites/src/styles/blog.styl */
article {
  padding-top: 34px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 20px -1px #d1d1d1;
  box-shadow: 0 0 20px -1px #d1d1d1;
}

/* line 17 : /Users/adam/Projects/bites/src/styles/blog.styl */
article img.author {
  float: right;
  padding: 0 0 25px 25px;
  height: 150px;
  width: 150px;
}

/* line 23 : /Users/adam/Projects/bites/src/styles/blog.styl */

/* line 25 : /Users/adam/Projects/bites/src/styles/blog.styl */
article header {
  position: relative;
  margin-bottom: 1em;
}

/* line 27 : /Users/adam/Projects/bites/src/styles/blog.styl */
article header h1 {
  margin: 0;
}

/* line 29 : /Users/adam/Projects/bites/src/styles/blog.styl */
article header h1 a {
  text-decoration: none;
}

/* line 31 : /Users/adam/Projects/bites/src/styles/blog.styl */
article header h1 a:hover {
  text-decoration: none;
}

/* line 33 : /Users/adam/Projects/bites/src/styles/blog.styl */
article header p {
  font-size: 0.9em;
  color: #a2a2a2;
  margin: 0;
}

/* line 37 : /Users/adam/Projects/bites/src/styles/blog.styl */
@media only screen and (min-width: 768px) {

/* line 41 : /Users/adam/Projects/bites/src/styles/blog.styl */
  article header {
    margin-bottom: 1.5em;
  }
}

/* line 43 : /Users/adam/Projects/bites/src/styles/blog.styl */
article h2 {
  margin: 0.8em 0;
}

/* line 45 : /Users/adam/Projects/bites/src/styles/blog.styl */
.entry-content article h2:first-child,
article header + h2 {
  margin-top: 0;
}

/* line 47 : /Users/adam/Projects/bites/src/styles/blog.styl */
article h2:first-child,
article header + h2 {
  background: none;
}

/* line 49 : /Users/adam/Projects/bites/src/styles/blog.styl */
article .feature {
  padding-top: 0.5em;
  margin-bottom: 1em;
  padding-bottom: 1em;
  background: #666 bottom left repeat-x;
  line-height: 1.3em;
}

/* line 55 : /Users/adam/Projects/bites/src/styles/blog.styl */
article img,
article video {
  padding: 0.25em;
  background-color: #fff;
}

/* line 59 : /Users/adam/Projects/bites/src/styles/blog.styl */
article img.framed,
article video.framed {
  padding: 10px;
  border: 1px solid #ccc;
}

/* line 62 : /Users/adam/Projects/bites/src/styles/blog.styl */
article video {
  margin: 0 auto 1.5em;
  display: block;
  width: 100%;
}

/* line 65 : /Users/adam/Projects/bites/src/styles/blog.styl */
article > footer {
  margin-top: 2em;
}

/* line 67 : /Users/adam/Projects/bites/src/styles/blog.styl */
article > footer p.meta {
  margin-bottom: 0.8em;
  font-size: 0.85em;
  clear: both;
  overflow: hidden;
}

/* line 72 : /Users/adam/Projects/bites/src/styles/blog.styl */

/* line 75 : /Users/adam/Projects/bites/src/styles/blog.styl */
article #flash {
  margin-bottom: 1.5em;
}

/* line 77 : /Users/adam/Projects/bites/src/styles/blog.styl */
article table.controls {
  margin: 0.3in auto;
}

/* line 79 : /Users/adam/Projects/bites/src/styles/blog.styl */
article table.controls caption {
  text-align: center;
}

/* line 81 : /Users/adam/Projects/bites/src/styles/blog.styl */
article table.controls th {
  text-align: right;
}

/* line 83 : /Users/adam/Projects/bites/src/styles/blog.styl */
article table.controls td {
  padding-left: 6px;
}

/* line 85 : /Users/adam/Projects/bites/src/styles/blog.styl */
article ul.footnotes {
  margin: 1.2em;
}

/* line 88 : /Users/adam/Projects/bites/src/styles/blog.styl */
article code {
  background: #f5f7f7;
  padding: 2px;
}

/* line 92 : /Users/adam/Projects/bites/src/styles/blog.styl */
article pre > code {
  background-color: #f5f7f7;
  overflow: auto;
  border: none;
  display: block;
}

/* line 99 : /Users/adam/Projects/bites/src/styles/blog.styl */
article p.update {
  background-color: #fffff5;
}

/* line 102 : /Users/adam/Projects/bites/src/styles/blog.styl */
article p.update:before {
  content: 'Update:';
  font-family: PublicoHeadline, "Helvetica Neue", Helvetica, Arial, sans-serif;
  display: block;
  margin-bottom: 0.3em;
}

/* line 108 : /Users/adam/Projects/bites/src/styles/blog.styl */
article div.series {
  border: 1px solid #333;
  padding: 25px;
  margin-bottom: 25px;
  clear: both;
}

/* line 114 : /Users/adam/Projects/bites/src/styles/blog.styl */
article div.series blockquote {
  display: table-cell;
  margin: 0;
  padding: 0;
  width: 50%;
  vertical-align: middle;
}

/* line 121 : /Users/adam/Projects/bites/src/styles/blog.styl */
article div.series ol {
  display: table-cell;
  margin-bottom: 0;
  font-size: 14px;
  line-height: 18px;
  padding-left: 50px;
}

/* line 128 : /Users/adam/Projects/bites/src/styles/blog.styl */

/* line 129 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content .blog-index article {
  padding-bottom: 1.5em;
  margin-top: 18px;
}

/* line 132 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content .blog-index article:first-child {
  margin-top: 0;
}

/* line 134 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content .blog-index article header {
  background: none;
}

/* line 137 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content .blog-index article div.series {
  display: none;
}

/* line 140 : /Users/adam/Projects/bites/src/styles/blog.styl */

/* line 141 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content .blog-index article h1 a {
  color: inherit;
}

/* line 143 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content .blog-index article h1 a:hover {
  color: #6ab5b1;
}

/* line 145 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content .blog-index a[rel=full-article] {
  display: inline-block;
  margin-right: 0.5em;
}

/* line 148 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content .blog-index footer {
  margin-top: 1em;
}

/* line 152 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content div.pagination {
  text-align: center;
  font-size: 0.95em;
  position: relative;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}

/* line 159 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content div.pagination a {
  text-decoration: none;
  color: #888;
}

/* line 162 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content div.pagination a.prev {
  position: absolute;
  left: 0;
}

/* line 165 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content div.pagination a.next {
  position: absolute;
  right: 0;
}

/* line 168 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content div.pagination a:hover {
  color: #6ab5b1;
}

/* line 171 : /Users/adam/Projects/bites/src/styles/blog.styl */

/* line 172 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content section.profile .meta {
  float: left;
}

/* line 175 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content section.profile .meta img {
  margin-right: 20px;
  -webkit-box-shadow: 0 0 10px -1px #333;
  box-shadow: 0 0 10px -1px #333;
  width: 150px;
}

/* line 180 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content section.profile .content {
  display: table;
}

/* line 183 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content section.profile .content p {
  margin-bottom: 0.5em;
}

/* line 185 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content section.profile .content .author {
  font-style: italic;
}

/* line 188 : /Users/adam/Projects/bites/src/styles/blog.styl */
#content section.profile .coauthor {
  margin-bottom: 30px;
}

/* line 1 : /Users/adam/Projects/bites/src/styles/blog.styl */

/* line 1 : /Users/adam/Projects/bites/src/styles/xcode.styl */

/* line 7 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fff;
  color: #000;
  -webkit-text-size-adjust: none;
}

/* line 16 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-comment,
.hljs-template_comment,
.hljs-javadoc {
  color: #006a00;
}

/* line 22 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-keyword,
.hljs-literal,
.nginx .hljs-title {
  color: #aa0d91;
}

/* line 27 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.method,
.hljs-list .hljs-title,
.hljs-tag .hljs-title,
.setting .hljs-value,
.hljs-winutils,
.tex .hljs-command,
.http .hljs-title,
.hljs-request,
.hljs-status {
  color: #008;
}

/* line 39 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-envvar,
.tex .hljs-special {
  color: #660;
}

/* line 44 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-string {
  color: #c41a16;
}

/* line 47 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.apache .hljs-cbracket,
.hljs-date,
.hljs-regexp {
  color: #080;
}

/* line 57 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-sub .hljs-identifier,
.hljs-pi,
.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-decorator,
.ini .hljs-title,
.hljs-shebang,
.hljs-prompt,
.hljs-hexcolor,
.hljs-rules .hljs-value,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-number,
.css .hljs-function,
.hljs-function .hljs-title,
.coffeescript .hljs-attribute {
  color: #1c00cf;
}

/* line 76 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-class .hljs-title,
.smalltalk .hljs-class,
.hljs-javadoctag,
.hljs-yardoctag,
.hljs-phpdoc,
.hljs-dartdoc,
.hljs-type,
.hljs-typename,
.hljs-tag .hljs-attribute,
.hljs-doctype,
.hljs-class .hljs-id,
.hljs-built_in,
.setting,
.hljs-params,
.clojure .hljs-attribute {
  color: #5c2699;
}

/* line 94 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-variable {
  color: #3f6e74;
}

/* line 97 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.css .hljs-tag,
.hljs-rules .hljs-property,
.hljs-pseudo,
.hljs-subst {
  color: #000;
}

/* line 104 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.css .hljs-class,
.css .hljs-id {
  color: #9b703f;
}

/* line 109 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-value .hljs-important {
  color: #f70;
  font-weight: bold;
}

/* line 114 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-rules .hljs-keyword {
  color: #c5af75;
}

/* line 118 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-annotation,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #9b859d;
}

/* line 124 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-preprocessor,
.hljs-preprocessor *,
.hljs-pragma {
  color: #643820;
}

/* line 130 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.tex .hljs-formula {
  background-color: #eee;
  font-style: italic;
}

/* line 135 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.diff .hljs-header,
.hljs-chunk {
  color: #808080;
  font-weight: bold;
}

/* line 141 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.diff .hljs-change {
  background-color: #bccff9;
}

/* line 145 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-addition {
  background-color: #baeeba;
}

/* line 149 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-deletion {
  background-color: #ffc8bd;
}

/* line 153 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.hljs-comment .hljs-yardoctag {
  font-weight: bold;
}

/* line 157 : /Users/adam/Projects/bites/src/styles/xcode.styl */
.method .hljs-id {
  color: #000;
}
