@font-face {
  font-family: 'PublicoHeadline';
  src: url('/fonts/PublicoHeadline-Black-Web.eot');
  src: url('/fonts/PublicoHeadline-Black-Web.eot?#iefix') format('embedded-opentype'),
  url('/fonts/PublicoHeadline-Black-Web.woff') format('woff'),
  url('/fonts/PublicoHeadline-Black-Web.ttf') format('truetype'),
  url('/fonts/PublicoHeadline-Black-Web.svg#publico_headline_webblack') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PublicoText';
  src: url('/fonts/PublicoText-Bold-Web.eot');
  src: url('/fonts/PublicoText-Bold-Web.eot?#iefix') format('embedded-opentype'),
  url('/fonts/PublicoText-Bold-Web.woff') format('woff'),
  url('/fonts/PublicoText-Bold-Web.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/Graphik-Regular-Web.eot');
    src: url('/fonts/Graphik-Regular-Web.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Graphik-Regular-Web.woff') format('woff'),
         url('/fonts/Graphik-Regular-Web.ttf') format('truetype'),
         url('/fonts/Graphik-Regular-Web.svg#graphik_webregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Graphik';
    src: url('/fonts/Graphik-Bold-Web.eot');
    src: url('/fonts/Graphik-Bold-Web.eot?#iefix') format('embedded-opentype'),
         url('/fonts/Graphik-Bold-Web.woff') format('woff'),
         url('/fonts/Graphik-Bold-Web.ttf') format('truetype'),
         url('/fonts/Graphik-Bold-Web.svg#graphik_webbold') format('svg');
    font-weight: bold;
    font-style: normal;
}
