$max-width ?= 676px

// Padding used for layout margins
$gutter-min ?= 24px
$gutter-medium ?= 34px
$gutter-wide ?= $gutter-medium

responsive-gutters()
  padding-left $gutter-min
  padding-right $gutter-min
  @media $query-screen-medium
    padding-left $gutter-medium
    padding-right $gutter-medium

full-bleed()
  margin-left (- $gutter-min)
  margin-right (- $gutter-min)
  @media $query-screen-medium
    margin-left (- $gutter-medium)
    margin-right (- $gutter-medium)

$header-font-size ?= 1em
$header-padding-top ?= 2em
$header-padding-bottom ?= .75em

.group
  clearfix()

body
  -webkit-text-size-adjust none
  max-width $max-width
  position relative
  margin 0 auto

  > header, 
  > nav, 
  > footer, 
  #content > article, 
  #content > div > article, 
  #content > div > section
    @extend .group
    responsive-gutters()

  div.pagination 
    @extend .group
    responsive-gutters()

  > header
    font-size $header-font-size
    padding-top $header-padding-top
    padding-bottom $header-padding-bottom

#content 
  > div, 
  > article 
    width 100%

.basic-alignment
  &.left 
    float left
    margin-right 1.5em
  &.right
    float right
    margin-left 1.5em
  &.center
    display block
    margin: 0 auto 1.5em
  &.left, 
  &.right
    margin-bottom: .8em

#content
	border-right none

@media only screen and (min-width: 550px)
  body > header
    font-size $header-font-size

@media $query-screen-medium
  body 
    -webkit-text-size-adjust auto
  body > header
    font-size $header-font-size * 1.3
  #main
    clearfix()
    padding 0
    margin 0 auto
  #content
    clearfix()
    position relative
    .no-sidebar
      margin-right 0
      border-right 0
    > div, > article
      padding-top ($gutter-medium/2)
      padding-bottom ($gutter-medium/2)
      float left

@media $query-screen-wide
  body > header 
    font-size $header-font-size * 1.3
  #content
    > div, > article
      padding-top ($gutter-wide/2)
      padding-bottom ($gutter-wide/2)

dl 
  margin-bottom 1em
dt 
  font-weight bold
dt, dd, li 
  padding-bottom .25em
@media only screen and (min-width: 550px)
	dt 
    float none
@media only screen and (min-width: 750px)
	dt
		clear left
		float left
		padding-right .5em
		width 10em

table
  @extend .basic-alignment
  padding .25em .25em
	thead, thead th
    font-weight bold
    font-size 1em
	thead
    border-bottom 2px solid $text-color
