$max-width ?= 676px

// Padding used for layout margins
$pad-min ?= 24px
$pad-narrow ?= 24px
$pad-medium ?= 34px
$pad-wide ?= 34px

$indented-lists ?= true

$header-font-size ?= 1em
$header-padding-top ?= 2em
$header-padding-bottom ?= .75em

.group
  clearfix()

body {
  -webkit-text-size-adjust: none;
  max-width: $max-width;
  position: relative;
  margin: 0 auto;
  > header, > nav, > footer, #content > article, #content > div > article, #content > div > section {
    @extend .group;
    padding-left: $pad-min;
    padding-right: $pad-min;
    @media only screen and (min-width: 480px) {
      padding-left: $pad-narrow;
      padding-right: $pad-narrow;
    }
    @media only screen and (min-width: 768px) {
      padding-left: $pad-medium;
      padding-right: $pad-medium;
    }
    @media only screen and (min-width: 992px) {
      padding-left: $pad-wide;
      padding-right: $pad-wide;
    }
  }
  div.pagination {
    @extend .group;
    margin-left: $pad-min;
    margin-right: $pad-min;
    @media only screen and (min-width: 480px) {
      margin-left: $pad-narrow;
      margin-right: $pad-narrow;
    }
    @media only screen and (min-width: 768px) {
      margin-left: $pad-medium;
      margin-right: $pad-medium;
    }
    @media only screen and (min-width: 992px) {
      margin-left: $pad-wide;
      margin-right: $pad-wide;
    }
  }
  > header {
    font-size: $header-font-size;
    padding-top: $header-padding-top;
    padding-bottom: $header-padding-bottom;
  }
}

#content { > div, > article { width: 100%; }}

.basic-alignment {
  &.left { float: left; margin-right: 1.5em; }
  &.right { float: right; margin-left: 1.5em; }
  &.center { display:block; margin: 0 auto 1.5em; }
  &.left, &.right { margin-bottom: .8em; }
}

#content {
	border-right: none;
}

@media only screen and (min-width: 550px) {
  body > header { font-size: $header-font-size; }
}

@media only screen and (min-width: 768px) {
  body { -webkit-text-size-adjust: auto; }
  body > header { font-size: $header-font-size * 1.3; }
  #main {
    clearfix()
    padding: 0;
    margin: 0 auto;
  }
  #content {
    clearfix()
    position: relative;
    .no-sidebar & { margin-right: 0; border-right: 0; }
    > div, > article {
      padding-top: ($pad-medium/2);
      padding-bottom: ($pad-medium/2);
      float: left;
    }
  }
}

@media only screen and (min-width: 992px) {
  body > header { font-size: $header-font-size * 1.3; }
  #content {
    > div, > article {
      padding-top: ($pad-wide/2);
      padding-bottom: ($pad-wide/2);
    }
  }
}

unless $indented-lists {
  @media only screen and (min-width: 768px) {
    ul, ol { margin-left: 0; }
  }
}

dl { margin-bottom: 1em; }
dt { font-weight: bold; }
dt, dd, li { padding-bottom: .25em; }
@media only screen and (min-width: 550px) {
	dt { float: none; }
}
@media only screen and (min-width: 750px) {
	dt {
		clear: left;
		float: left;
		padding-right: .5em;
		width: 10em;
	}
}

table {
  @extend .basic-alignment;
  padding: .25em .25em;
	thead, thead th { font-weight: bold; font-size: 1em; }
	thead { border-bottom: 2px solid $text-color; }
}
