$img-border = #666;

// Main Link Colors
$link-color ?= #007084
$link-color-hover ?= $link-color
$link-color-visited ?= $link-color
$link-color-active ?= $link-color

// Main Section Colors
$header-bg ?= transparent
$header-border ?= none
$title-color ?= #333
$subtitle-color ?= #333
$header-color = #333
$header-link-color = $header-color

$text-color ?= #333
$text-color-light ?= #888
$type-border ?= #ddd

/* Navigation */
$nav-bg ?= transparent
$nav-bg-front ?= transparent
$nav-bg-back ?= transparent
$nav-color ?= $text-color
$nav-color-hover ?= $link-color
$nav-placeholder ?= desaturate(darken($text-color, 10), 15)
$nav-border ?= lighten($text-color-light, 38)
$nav-border-bottom ?= $nav-border
$nav-border-left ?= $nav-border
$nav-border-right ?= #fff

$footer-link-color ?= darken($text-color-light, 38)
$page-border-bottom ?= lighten($text-color-light, 38)

/* Core theme application */

a
  color: $link-color
  // transition(color .3s)
  text-decoration: none
  &:hover, &:active
    text-decoration: underline

html, body
  background #F2F0E8

body > footer
  font-size 80%
  margin-top 10px
